{% extends "base.html" %}
{% block title %}
About Us | OptiKart
{% endblock %}
{% block body %}
{% load static %}

  <section class="about_section  ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 px-0">
          <div class="img-box">
            <img src="{% static 'Images/man-working-about.webp' %}" alt="">
          </div>
        </div>
        <div class="col-md-6 mx-auto detail_container">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              Optikart, the visionary eyewear company, stands at the forefront of the industry, redefining the way we perceive style and functionality. With a passion for innovation and an unwavering commitment to providing the best eyewear solutions, Optikart has become a symbol of excellence and sophistication.

              At Optikart, the pursuit of perfection is embedded in every aspect of their craftsmanship. Meticulously handcrafted frames, sourced from the finest materials, showcase an exquisite fusion of contemporary design and timeless elegance. Each pair of glasses is a masterpiece, catering to the diverse tastes and preferences of fashion-forward individuals.
              </p>
          </div>
          
        </div>
      </div>

    </div>
  </section>
  <section class="about_section  ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 px-0">
          <div class="img-box">
            <img src="{% static 'Images/founder.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6 mx-auto detail_container">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Founder
              </h2>
            </div>
            <p>
              Anirban, the visionary founder of Optikart, is a true trailblazer in the eyewear industry. With an unwavering passion for fashion and a keen eye for innovation, he embarked on a journey to revolutionize the way people perceive and experience eyewear. His relentless pursuit of excellence and commitment to quality craftsmanship have set Optikart apart as a leading name in the industry.

Anirban's creative genius is evident in every aspect of Optikart's offerings. From the meticulously designed frames to the technologically advanced lenses, each element bears the mark of his visionary leadership. With an acute understanding of customer needs and preferences, Anirban ensures that Optikart's collection caters to a wide range of tastes, making eyewear not just a necessity but a stylish accessory that elevates one's personal style.

              </p>
          </div>
          
        </div>
      </div>

    </div>
  </section>
  {% endblock %}