{% extends 'base.html' %}
{% block title %}
Blogs | OptiKart
{% endblock %}
{% block body %}
{% load static %}

<section class="shop_section layout_padding">

    <h1 style="text-align: center;"><img src="{% static 'Images/placed.gif' %}" alt=""></h1>
    <h3 style="text-align: center;">Thank you <strong>{{request.user.first_name}}</strong> for placing order with us!</h3>
    <div class="btn-box">
        <a href="/your-orders">
          Track Your Orders
        </a>
      </div>
</section>

{% endblock %}