{% extends 'base.html' %}
{% block title %}
{{name}} | OptiKart
{% endblock %}
{% block body %}
{% load static %}

<section class="blog_section layout_padding">
                <center>
                    <div id="about" class="w3-content w3-container w3-padding-64" style="max-width: 800px;">
                        <h1>{{name}}</h1>
                        <hr>
                        <img width="100%" src="http://{{pic}}/static/BlogImages/{{image}}" alt="">
                        <br><br>
                        <h5>Date Published: {{date}} | Views: {{views}}</h5>
                        <br><br>
                        <div style="align-items: left; text-align: left;">
                        {{post|safe}}
                        </div>
                        </div>
                </center>
</section>

{% endblock %}
