Many of us are working from home due to the covid-19 pandemic and the increasing screen time can cause side effects such as eye strain, fatigue, headaches, dryness and excessive blinking. So up your style game with the hottest eyeglasses in trend. From vintage to modern, circular to hexagonal, we have rounded up the latest eyewear trends in fashion. Check them out here: 
<br>
<h4>Rich Acetate frames:</h4>
<br>
With our collection of Happster glasses frames you’re sure to find a pair that adds a touch of vintage flair. Show off your creative and fashionista side with rich acetate frames crafted with finest material. 
<br>
<h4>Cat-eye, Wayfarer, & Pilot frames:</h4>
<br>
Made to turn heads, they never go out of style. Appeals to the younger generations who have an appetite for a wide range of fashion and all things new. 
<br>
<h4>The Clip-ons:</h4>
<br>
These 2-in1 glasses are a popular choice that suits for both indoor and outdoor activities. Just pull your magnetic clip on to turn eyeglasses into shades. Show off your style – Whether you are a outgoing college student or hanging out over the weekend under the hot sun, it’s time to develop your own identity. 
<br>
<h4>Metallics:</h4>
<br>
Chic, lightweight and urbane - these polished metal frames provide all the glam without the weight. Durable and long-lasting, these frames aren't going out of style anytime soon. Modern metal frames can be a creative look sometimes. 
<br>
<h4>Blue Light Glasses:</h4>
<br>
Since last year most of us are working from home and with increase in screen time causes digital eye strain and can also lead to vision-related issues. Specsmakers has addressed this problem with their BluPro and BlueZero range of computer glasses with blue light filter coating. Blue light glasses are trending in 2021. So no matter what frame you choose, make sure to opt for blue light glasses to keep your eyes protected. 
<br>
<h4>Hexagonal frames:</h4><br>
Vibe with a pair of these oversized frames which are in trend this season. They are a standout look no matter the occasion. 
<br>
<h4>Round frames:</h4><br>
Round eyeglasses are timeless for a reason, they suit everyone. No matter the time of the year, the classic is always in style. 
<br>
<h4>Lightanium:</h4><br>
These frames are as light as they get. Lightanium frames are mostly rimless and adds a certain suaveness to the wearer. Made from high quality metal, Lightanium frames are a blend of superior quality and sophisticated look. 
<br>
<h4>Flex:</h4><br>
Just the as the name suggests, Flex frames are flexible, bendable but almost unbreakable. Made from TR or Toughned Resin these Flex frames are durable yet stylish. 

Just as you have different clothes for various purposes and different occasions, you can also have different eyewear style.